body {
  background-color: rgb(43, 6, 59);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

canvas {
  border: 2px solid rgb(242, 88, 111);
  width: 320px;
  height: 640px;
}